@use "reset";
@use "book-card";
@use "library";
@use "add-book";

$font-stack: arial;

:root {
  --button-background-color: white;
  --button-hover-background-color: rgb(235,235,235);
  --font-color: #7D7D7D;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-stack;
}

button {
  appearance: none;
  font-family: $font-stack;
  color: var(--font-color);
  border: none;
  padding: 0;
  background: none;
  background-color: var(--button-background-color);
  box-shadow: 0 4px 6px rgba(0,0,0,0.16);
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
  background-color: var(--button-hover-background-color);
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

.hidden {
  display: none;
}

.test-element {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(100,255,100,0.5);
  width: 500px;
  height: 500px;
  z-index: -1;
}